@use "sass:math";

/* rem */
@mixin font-rem( $font-size-px, $root-font-size: 16 ) {
	font-size: math.div( ( $root-font-size * 1rem ), $font-size-px );
}

/* breakpoint */
$breakpoints: (
	'tb': 'screen and ( min-width: 400px  )',
	'pc': 'screen and ( min-width: 768px  )',
	'wide': 'screen and ( min-width: 1000px )',
	'full': 'screen and ( min-width: 1200px )'
);

@mixin mq( $breakpoint: tb ) {
	@media #{ map-get( $breakpoints, $breakpoint ) } {
		@content;
	}
}
